<div class="site-content grey-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- BLOG CATEGORIES-->
        <div class="page-breadcrumb">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 works">
                <div class="bndl-breadcrumb blog-categories">
                  <div class="breadcrumb-title"><span>My Projects</span></div>
                  <div class="widget tag_cloud widget_tag_cloud">
                      <div id="category" class="tagcloud filter">
                        <a data-filter="all" href="#" class="active">all</a>
                        {% for category in categories %}
                        {% if category.projects.all %}
                        <a data-filter="{{category.name}}"  href="#">{{category.name}}</a>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END / BLOG CATEGORIES-->
        <div class="blog-loop masonry-col-3">
          <!-- MASONRY LAYOUT-->
          <div class="loop masonry-layout">
            <!-- POST STANDARD-->
            {%  for project in projects %}
            <!--
            <article class="post standard item {{project.categories}}">
              <div class="post-content">
                <div class="post-media">
                  <div class="post-image">
                    <img src="/media/media/{{project.image}}" alt="{{project.name}}"></div>
                </div>
                <div class="post-body">
                  <div class="post-category">
                    <i class="ei-pencil"></i><a href="#">{{ project.cateogories }}</a></div>
                  <div class="post-title">
                    <h2><a href="{% url 'portfolio_detail' pk=project.pk %}">{{project.name}}</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Proin sed justo quis erat convallis maximus. Proin neque ipsum, laoreet in rutrum vitae, suscipit in ipsum. Maecenas luctus enim a dapibus mollis. Integer.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">2</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">1</a></div>
                    <div class="post-date">June 12, 2016</div>
                  </div>
                </div>
              </div>
            </article>
            -->
            {% endfor %}
            <!-- END / POST STANDARD-->

            <article class="post large">
              <div class="post-content">
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">Lifestyle</a></div>
                  <div class="post-title">
                    <h2><a href="../../pages/post-types/hero-image.html">10 Things Your Competitors Can Teach You About Life</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Aenean sit amet scelerisque mi. Fusce faucibus finibus nisl id tempus. Vivamus sit amet tellus ex. Curabitur interdum tristique lorem.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">1</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">5</a></div>
                    <div class="post-date">June 12, 2016</div>
                  </div>
                </div>
                <div class="post-media">
                  <div style="background-image: url(../../media/post-big.jpg)" class="post-image"></div>
                </div>
              </div>
            </article>
            <!-- END / POST LARGE-->
            <!-- POST STANDARD-->
            <article class="post post-left standard">
              <div class="post-content">
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">Work</a></div>
                  <div class="post-title">
                    <h2><a href="../../pages/post-types/hero-image.html">5 Tools Everyone In The Time Industry Should Be Using</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Proin sit amet nulla id nunc malesuada tempus. Ut quis tellus sed.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">4</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">1</a></div>
                    <div class="post-date">June 10, 2016</div>
                  </div>
                </div>
                <div class="post-media">
                  <div style="background-image: url(../../media/post-thumbnail.jpg)" class="post-image"></div>
                </div>
              </div>
            </article>
            <!-- END / POST STANDARD-->
            <!-- POST STANDARD-->
            <article class="post post-left standard">
              <div class="post-content">
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">Lifestyle</a></div>
                  <div class="post-title">
                    <h2><a href="../../pages/post-types/hero-image.html">What Will Work Be Like In 100 Years?</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Quisque elementum arcu aliquet quam viverra, sodales blandit nisl.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">23</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">15</a></div>
                    <div class="post-date">June 9, 2016</div>
                  </div>
                </div>
                <div class="post-media">
                  <div style="background-image: url(../../media/post-thumbnail.jpg)" class="post-image"></div>
                </div>
              </div>
            </article>
            <!-- END / POST STANDARD-->
            <!-- POST STANDARD-->
            <article class="post post-right standard">
              <div class="post-content">
                <div class="post-media">
                  <div style="background-image: url(../../media/post-thumbnail.jpg)" class="post-image"></div>
                </div>
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">Travel</a></div>
                  <div class="post-title">
                    <h2><a href="../../pages/post-types/hero-image.html">15 Best Blogs To Follow About Life</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">6</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">15</a></div>
                    <div class="post-date">June 5, 2016</div>
                  </div>
                </div>
              </div>
            </article>
            <!-- END POST STANDARD-->
            <!-- POST LARGE-->
            <article class="post large">
              <div class="post-content">
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">Lifestyle</a></div>
                  <div class="post-title">
                    <h2><a href="../../pages/post-types/hero-image.html">Think You're Cut Out For Doing Music? Take This Quiz</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Aenean sit amet scelerisque mi. Fusce faucibus finibus nisl id tempus. Vivamus sit amet tellus ex. Curabitur interdum tristique lorem.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">16</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">3</a></div>
                    <div class="post-date">June 4, 2016</div>
                  </div>
                </div>
                <div class="post-media">
                  <div style="background-image: url(../../media/post-big.jpg)" class="post-image"></div>
                </div>
              </div>
            </article>
            <!-- END POST LARGE-->
            <!-- POST STANDARD-->
            <article class="post post-right standard">
              <div class="post-content">
                <div class="post-media">
                  <div style="background-image: url(../../media/post-thumbnail.jpg)" class="post-image"></div>
                </div>
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">Work</a></div>
                  <div class="post-title">
                    <h2><a href="../../pages/post-types/hero-image.html">How To Solve The Biggest Problems With Life</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>Donec tempus, enim eget tincidunt accumsan, elit dui vulputate est.</p>
                  </div>
                  <div class="post-meta">
                    <div class="post-likes"><i class="ei-heart"></i><a href="#">4</a></div>
                    <div class="post-comments"><i class="ei-comment"></i><a href="#">25</a></div>
                    <div class="post-date">June 1, 2016</div>
                  </div>
                </div>
              </div>
            </article>
            <!-- END POST STANDARD-->
          </div>
          <!-- END / MASONRY LAYOUT-->
        </div>
        <!-- PAGINATION-->
        {% include "pagination.html" with page=projects %}
        <!-- END / PAGINATION-->
      </div>
    </div>
  </div>
</div>
