{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% block content %}
<!--Portfolio single-->
<section id="portfolio" class="bgWhite ofsInBottom ">
<!--Portfolio -->
<div class="portfolio">
  <!--Main title-->
    <div class="main-title work-title">
      <h1>Details</h1>
        <div class="divider">
            <div class="zigzag large clearfix "  data-svg-drawing="yes" >
              <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <path d="M1.357,12.26 10.807,2.81 20.328,12.332
              29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
              </svg>
              </div>
            </div>
      </div>

<!--End main title-->
<!--Content-->
<div class="content">
  <!--Block content-->
  <div class="block-content ">
    <div class="block-nav-work margBottom">
      <ul>
      <li><a href="#"><i class="icon-left-open-mini"></i></a></li>
      {% url 'portfolio_list' as url %}
      <li><a href="{{url}}"><i class="icon-cancel"></i></a></li>
      <li><a href="#"><i class="icon-right-open-mini"></i></a></li>
      </ul>
    </div>
    <div class="block-single margBottom clearfix">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="large-title margBSSmall">{{project.name}}</h1>
          <p class="margBSSmall">{{project.long_description}} </p>
          <hr>
          <ul>
             <li>Job :
                <strong>Development</strong>
              </li>
              <li>Client :
                <strong>Elena Chatziathanasiou</strong>
              </li>
              <li>Year :
                <strong>Mars , 2016</strong>
              </li>
              <li>Agency :
                  <strong>Mutation Media</strong>
              </li>
            </ul>
        </div>
      </div>


    <div class="block-single margBottom clearfix">
      <div class="col-md-10 col-md-offset-1">
      <img src="{% static 'img/portfolio/large-1.jpg' %}" alt="">
      </div>
    </div>
    <div class="block-single margBottom clearfix">
        <div class="col-md-10 col-md-offset-1">
          <img src="{% static 'img/portfolio/large-2.jpg' %}" alt="">
        </div>
      </div>
      <div class="block-single margBottom clearfix">
        <div class="col-md-10 col-md-offset-1">
          <img src="{% static 'img/portfolio/large-3.jpg' %}" alt="">
        </div>
      </div>


      <div class="block-single margBottom clearfix">
        <div class="col-md-10 col-md-offset-1">
        <img src="{% static 'img/portfolio/large-4.jpg' %}" alt="">
        </div>
      </div>



      <div class="block-single margBottom clearfix">
        <div class="col-md-10 col-md-offset-1">

          <ul class="social tCenter">
            <li><a href="https://github.com/kkampardi"><i class="icon-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/katerina-kampardi-6a319582?trk=nav_responsive_tab_profile"><i class="icon-linkedin"></i></a></li>
            <li><a href="https://twitter.com/kkampardi"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/katerina.kabardi"><i class="icon-facebook"></i></a></li>
          </ul>
          </div>
      </div>
  </div>
  <!--End block content-->
  </div>
  <!--End content-->
  <!--Button-->
  <div class="button ofsInTop tCenter">

      <div class="divider">
          <div class="zigzag large clearfix "  data-svg-drawing="yes" >
            <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <path d="M1.357,12.26 10.807,2.81 20.328,12.332
            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
            </svg>
            </div>
        </div>
  <!--Row-->
    <div class="row ">


      <div class="col-md-12">
        <a class="but opc-3 ico" href="http://kkampardi.graphicode.gr:8000/home">view project online</a>
      </div>
    </div>
      <!--End row-->
  </div>
    <!--End button-->
  </div>
    <!--End portfolio-->

  </section>
    <!--End portfolio single-->
{% endblock content %}
