{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--Portfolio Tab-->
<section id="portfolio" class="bgWhite ofsInBottom">
              <!--Portfolio -->
                    <div class="portfolio">
                      <!--Main title-->
                        <div class="main-title">
                          <h1>my works</h1>
                            <div class="divider">
                                <div class="zigzag large clearfix " data-svg-drawing="yes">
                                  <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                  <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
                                  </svg>
                                  </div>
                            </div>
                        </div>
                      <!--End main title-->
                    <!--Content-->
                    <div class="content">
                      <!--Block content-->
                      <div class="block-content ">
                      <!--Works-->
                      <div class="works">
                      <!--Row-->
                      <div class="row">
                        <div class="block-filter tCenter">
                          <ul id="category" class="filter">
                            <!--li><a data-filter="all" href="#" class="active">all</a></li>
                            <li><a data-filter="web" href="#">AngularJs</a></li>
                            <li><a data-filter="graphic" href="#">Django</a></li>
                            <li><a data-filter="motion" href="#">In Progess</a></li>
                            <li><a data-filter="" href="#">Other</a></li-->
                            <li><a data-filter="all" href="#" class="active">all</a></li>
                            {% for category in categories %}
                            <li><a
                              {% if category.name == 'Django' %} data-filter="{{category.name}}"
                              {% elif category.name == 'AngularJs' %} data-filter="{{category.name}}"
                              {% elif category.name == 'In Progress' %} data-filter="{{category.name}}"
                              {% elif  category.name == 'Other'%} data-filter == "{{category.name}}"
                              {% endif %}
                              href="#">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                        </div>
                      </div>
                      <!--End row-->
                      <!--Row-->
                      <div class="row">
                        <div class="divider-m tCenter margTSSmall margBSmall clearfix">
                          <div class="col-md-12">
                            <div class="zigzag medium clearfix " data-svg-drawing="yes">
                              <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                              <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                                29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End row-->
                      <!--Row-->
                      <div class="row">
                        <ul class="work">
                        {% for project in projects %}
                        <li class="col-md-4 ">
                          <!--Item-->
                          <div class="item {{project.categories}}">
                          <a href="{% url 'portfolio_detail' pk=project.pk %}">
                            <div class="desc">
                            <h3 class="proj-desc">{{project.name}}
                            <span class="zigzag work clearfix " data-svg-drawing="yes">
                                <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="25" height="10" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                                  29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
                                </svg>
                              </span>
                             <span>{{project.short_description}}</span></h3>
                            </div>
                            <img class="img-responsive img-thumbnail" alt="{{project.name}}" src="/media/media/{{project.image}}">
                          </a>
                        </div>
                        <!--End item-->
                      </li>
                      {% endfor %}
                  </ul>
                </div>
              <!--End row-->
            </div>
            <!--End works-->
            <div class="clearfix"></div>
          </div>
          <!--End block content-->
        </div>
      <!--End content-->
      <!--Button-->
      <div class="button ofsInTop tCenter clearfix">
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                  <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
                  </svg>
                  </div>
            </div>
            <!--Row-->
            <div class="row ">
              <div class="col-md-12">
                <a class="but opc-1 icon-github" href="https://github.com/kkampardi">View my Github</a>
                <a class="but opc-2 icon-phone" href="http://kkampardi.graphicode.gr:8001/contact/">Contact Me</a>
              </div>
            </div>
            <!--End row-->
      </div>
      <!--End button-->
    </div>
    <!--End portfolio-->
  </section>
  <!--End portfolio tab-->
{% endblock %}
