{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-content grey-background">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-9 works">
        <!-- PROJECT CATEGORIES-->
        <div class="page-breadcrumb">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="bndl-breadcrumb blog-categories">
                  <div class="breadcrumb-title"><span>My Projects</span></div>
                  <div class="widget tag_cloud widget_tag_cloud">
                      <div id="category" class="tagcloud filter">
                        <a data-filter="all" href="#" class="active">all</a>
                        {% for category in categories %}
                        {% if category.projects.all %}
                        <a data-filter="{{category.name}}"  href="#">{{category.name}}</a>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END / PROJECT CATEGORIES-->
        <div class="blog-loop masonry-col-2">
          <!-- PROJECT THUMBNAIL LAYOUT-->
          <div class="loop thumbnail-layout">
            {% for project in projects %}
            <!-- POST LARGE-->
            <article class="post image item {{project.categories}}">
              {{project.name}}
              <div class="post-content">
                <div class="post-media">
                  <div class="post-image"><img src="/media/media/{{project.image}}" alt="{{project.name}}"></div>
                </div>
                <div class="post-body">
                  <div class="post-category"><i class="ei-pencil"></i><a href="#">{{project.categories}}</a></div>
                  <div class="post-title">
                    <h2><a href="{% url 'portfolio_detail' pk=project.pk %}">{{project.name}}</a></h2>
                  </div>
                </div>
              </div>
            </article>
            <!-- END POST LARGE-->
            {% endfor %}
          </div>
          <!-- END BLOG THUMBNAIL LAYOUT-->
        </div>
        <!-- PAGINATION-->
        {% include "pagination.html" with page=projects %}

        <!-- END / PAGINATION-->
      </div>
      <div class="col-md-3">
        <!-- ABOUT ME WIDGET-->
        <div class="widget widget_about_me">
          <h4 class="widget-title">About Me</h4>
          <div class="widget-content"><img src="{% static 'media/profile.png' %}" alt="alternative text" class="me-image">
            <h3>Katerina Kabardi</h3>
            <h4><i>Also known as PyCat</i></h4>

            <p>I am a Full Stack Developer from Greece, passionate about Web Technologies and extremely excited to be asked to build your own Web Application</p>
          </div>
        </div>
        <!-- END / ABOUT ME WIDGET-->

        <!-- SOCIAL MEDIA WIDGET-->
        <div class="widget widget_social_icons">
          <h4 class="widget-title">Find Me</h4>
          <div class="bndl-social-icons">
            <a href="https://github.com/kkampardi"><i class="ei-sc-github"></i></a>
            <a href="https://www.linkedin.com/in/katerina-kampardi-6a319582?trk=nav_responsive_tab_profile"><i class="ei-sc-linkedin"></i></a>
            <a href="https://twitter.com/kkampardi"><i class="ei-sc-twitter"></i></a>
            <a href="https://www.facebook.com/katerina.kabardi"><i class="ei-sc-facebook"></i></a>
          <p class="muted-text">Add me to your social network</p>
        </div>
        <!-- END / SOCIAL MEDIA WIDGET-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
