{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-content grey-background works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- BLOG CATEGORIES-->
        <div class="page-breadcrumb">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 ">
                <div class="project-categories">
                  <div class="breadcrumb-title"><span>My Projects</span></div>
                  <div class="widget tag_cloud widget_tag_cloud">
                      <div id="category" class="tagcloud filter">
                        <a data-filter="all" href="#" class="active">all</a>
                        {% for category in categories %}
                        {% if category.projects.all %}
                        <a data-filter="{{category.name}}"  href="#">{{category.name}}</a>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END / BLOG CATEGORIES-->
        <div class="blog-loop masonry-col-3">
          <!-- MASONRY LAYOUT-->
          <div class="loop horizontal-layout bndl-show">
            <!-- POST STANDARD-->
            {% for project in projects %}
            {% for layout in layouts %}
              {% ifequal project.layouts layout %}
              {% load mytags %}
              {% with "portfolio/"|addstr:project.layouts|addstr:".html" as template %}
                {% include template %}
              {% endwith %}
              {% endifequal %}
            {% endfor %}
            {% endfor %}
              <!-- POST STANDARD-->
          </div>
          <!-- END / MASONRY LAYOUT-->
        </div>
        <!-- PAGINATION -->
        {% include "pagination.html" with page=projects %}
        <!-- END / PAGINATION-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
