<!-- POST STANDARD-->
<article class="post post-right standard">
  <div class="post-content">
    <div class="post-media">
      <div style="background-image: url(/media/{{project.image}})" class="post-image"></div>
    </div>
    <div class="post-body">
      <div class="post-category"><a href="#">{{ post.categories}}</a></div>
      <div class="post-title">
        <h2><a href="{% url 'portfolio_detail' pk=project.pk %}">{{ post.name }}</a></h2>
      </div>
      <div class="post-entry">
        <p>{{ post.short_description}}</p>
      </div>
      <div class="post-meta">
        <div class="post-comments"><i class="ei-comment"></i><a href="#">15</a></div>
        <div class="post-date">{{ post.date }}</div>
      </div>
    </div>
  </div>
</article>
<!-- END POST STANDARD-->
