<!-- POST STANDARD-->
<article class="post post-right standard item {{project.categories}}">
  <div class="post-content">
    <div class="post-media">
      <div style="background-image: url(/media/{{project.image}})" class="post-image"></div>
    </div>
    <div class="post-body">
      <div class="post-category"><i class="ei-pencil"></i><a href="#">{{ project.categories }}</a></div>
      <div class="post-title">
        <h2><a href="../../pages/post-types/standard.html">{{ project.name }}</a></h2>
      </div>
      <div class="post-entry">
        <p>{{ project.short_description | truncatechars:60 }}</p>
      </div>
    </div>
  </div>
</article>
<!-- END POST STANDARD-->
