.DS_Store
/*.tgz
mydatabase.sqlite
folioenv
venv
migrations
*.pyc
staticfiles
.DS_STORE
*.zip
*.csv
*.png
*.jpeg
*.jpg
.env*
settings_local.py
settings_production.py
post-double.py
labels
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so

# Distribution / packaging
.Python
myenv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules
bower_components
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# remove them after finishing new layout

portfolio/templates/blog/old_blog_list.html
	portfolio/templates/blog/old_post_detail.html
	portfolio/templates/old_about.html
	portfolio/templates/old_base.html
	portfolio/templates/old_contact.html
	portfolio/templates/portfolio/old_portfolio_detail.html
	portfolio/templates/portfolio/old_portfolio_list.html
	portfolio/templates/registration/
