{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom active" >
        <!--About -->
        <div class="about">
            <!--Main title-->
            <div class="main-title">
                  <h1>who am i</h1>
                  <div class="divider">
                    <div class="zigzag large clearfix " data-svg-drawing="yes">
                       <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                          <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
                      </svg>
                    </div>
                  </div>
            </div>
            <!--End main title-->
            <!--Content-->
            <div class="content">
              <!--Block content-->
                <div class="block-content margBSmall">
                  <div class=" profile margBSmall">
                      <h1>katerina kampardi</h1>
                      <h3>Full Stack Developer / Front End Developer</h3>
                  </div>
                  <!--Row-->
                  <div class="row">
                    <div class="col-md-6">
                      <p>My core expertise is Front End UI Frameworks / Bootstrap, Front End Javascript Frameworks,
                        AngularJS, NodeJS, while for Back End I primarily use Python DJango Web and REST Frameworks.
                        My strong focus is on accessible and usable Front End Development and Back End Applications
                        based on MVC pattern.
                     </p>
                    </div>
                    <div class="col-md-6">
                      <p>Excellent knowledge of Wordpress and Cms Made Simple Customizations, through my past experience
                         as an employed and freelance Web Developer.
                         Areas of specific interest include DJango Frameworks, thus I’m currently seeking to join a non-profit 
                         to challenge my creative skills and further develop my experience in the field.
                      </p>
                    </div>
                   </div>
                  <!--End row-->
                </div>
                <!--End block content-->
              </div>
              <!--End content-->
            <!-- main title skills -->
            <div class="main-title">
                <h1>professional skills</h1>
                  <div class="divider">
                      <div class="zigzag large clearfix " data-svg-drawing="yes">
                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                          29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
                        </svg>
                        </div>
                    </div>
            </div>
            <!-- end main title -->
            <!--Content skills -->
            <div class="content">
              <!--Block content-->
                <div class="block-content margBMedium">
                    <!--Skill design-->
                    <div class=" skill des">
                            <!--Row-->
                            <div class="row ">
                              <div class="vc">
                                <div class="col-md-11">
                                  <ul class="skills-list clearfix">
                                    <li>
                                      <h4>Html5 / css3 / javascript</h4>
                                      <div class="progress">
                                      <div class="percentage" style="width: 75%;"></div>
                                      </div>
                                    </li>
                                    <li>
                                      <h4>Bootstrap UI Framework</h4>
                                        <div class="progress">
                                        <div class="percentage" style="width: 85%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                      <h4>AngularJS FE Framework</h4>
                                        <div class="progress">
                                        <div class="percentage" style="width: 70%;"></div>
                                        </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-md-1">
                                  <div class="title des">
                                    <span>front end</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--End row-->
                    </div>
                    <!--End skill design-->
                </div>
                <div class="block-content margBMedium">
                    <!--Skill dev-->
                    <div class=" skill dev">
                          <!--Row-->
                          <div class="row">
                            <div class="vc">
                            <div class="col-md-11">
                              <ul class="skills-list clearfix">
                              <li>
                                <h4>python django frameworks</h4>
                                <div class="progress">
                                <div class="percentage" style="width: 90%;"></div>
                                </div>
                              </li>
                              <li>
                                <h4>nodejs/mongodb</h4>
                                  <div class="progress">
                                  <div class="percentage" style="width: 70%;"></div>
                                  </div>
                              </li>
                              <li>
                                <h4>php/mysql</h4>
                                  <div class="progress">
                                  <div class="percentage" style="width: 75%;"></div>
                                  </div>
                              </li>
                            </ul>
                            </div>
                            <div class="col-md-1">
                              <div class="title dev">
                                <span>Coding </span>
                              </div>
                            </div>
                            </div>
                          </div>
                          <!--End row-->
                    </div>
                    <!--End skill dev-->
                </div>
                <div class="block-content margBMedium">
                    <!--Skill prs-->
                    <div class=" skill prs">
                      <!--Row-->
                        <div class="row ">

                          <div class="vc">

                          <div class="col-md-11">

                            <ul class="skills-list clearfix">
                            <li>
                              <h4>Responsible</h4>
                              <div class="progress">
                               <div class="percentage" style="width: 85%;"></div>
                              </div>
                            </li>
                            <li>
                              <h4>Creative</h4>
                                <div class="progress">
                                 <div class="percentage" style="width: 75%;"></div>
                                </div>
                            </li>
                            <li>
                              <h4>Multitasking</h4>
                                <div class="progress">
                                  <div class="percentage" style="width: 90%;"></div>
                                </div>
                            </li>
                          </ul>
                          </div>
                          <div class="col-md-1">
                            <div class="title prs">
                              <span>assets </span>
                            </div>
                          </div>
                        </div>
                        </div>
                        <!--End row-->
                    </div>
                    <!--End skill design-->
                  </div>
            </div>
            <!--End block content-->
        </div>
        <!--End about-->
</section>
<!--End about tab-->

{% endblock content %}
