{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-content">
  <div class="page-content">
    <h1 class="bndl-title large center">About Me</h1>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Who i am?</h4>
            <p>Katerina Kabardi, also known as PyCat. I am a Full Stack Debeloper from greece</p>
            <h4>What i do?</h4>
            <p>My core expertise is Bootstrap - Front End UI Framework, AngularJS - Front End Javascript Framework
              while for Back End I primarily use Python DJango Web and REST Frameworks.
              My strong focus is on accessible and usable Front End Development and Back End Applications
              based on MVC pattern.
            </p>
            <p>Excellent knowledge of Wordpress and Cms Made Simple Customizations, through my past experience
               as an employed and freelance Web Developer.
               Areas of specific interest include DJango Frameworks, thus I’m currently seeking to join a non-profit
               to challenge my creative skills and further develop my experience in the field.
             </p>

            <hr class="bndl-space">
            <!-- TAGS WIDGET-->
            <div class="widget tag_cloud widget_tag_cloud github">
              <div class="tagcloud">
                <a href="https://github.com/kkampardi">View My Github</a>
                <a href="https://www.linkedin.com/in/katerina-kampardi-6a319582?trk=nav_responsive_tab_profile">View My Employment History</a>
              </div>
            </div>
            <div class="widget tag_cloud widget_tag_cloud github">
            </div>
            <!-- END / TAGS WIDGET-->
            <hr class="bndl-space">
            <h2 class="bndl-title left">My Skills</h2>
            <div class="bndl-shortcode bndl-progress-bar-group">
              <!-- PROGRESS BAR SHORTCODE-->
              <div data-anim-to="95" class="bndl-progress-bar"><b class="progress-title">Python</b><span class="progress-amount">0</span><span class="progress-graph"></span></div>
              <!-- END / PROGRESS BAR SHORTCODE-->
              <!-- PROGRESS BAR SHORTCODE-->
              <div data-anim-to="95" class="bndl-progress-bar"><b class="progress-title">Django Framework</b><span class="progress-amount">0</span><span class="progress-graph"></span></div>
              <!-- END / PROGRESS BAR SHORTCODE-->
              <!-- PROGRESS BAR SHORTCODE-->
              <div data-anim-to="90" class="bndl-progress-bar"><b class="progress-title">HTML5/CSS3/JS</b><span class="progress-amount">0</span><span class="progress-graph"></span></div>
              <!-- END / PROGRESS BAR SHORTCODE-->
              <!-- PROGRESS BAR SHORTCODE-->
              <div data-anim-to="90" class="bndl-progress-bar"><b class="progress-title">Bootstrap UI Framework</b><span class="progress-amount">0</span><span class="progress-graph"></span></div>
              <!-- END / PROGRESS BAR SHORTCODE-->
              <!-- PROGRESS BAR SHORTCODE-->
              <div data-anim-to="65" class="bndl-progress-bar"><b class="progress-title">AngularJS Framework</b><span class="progress-amount">0</span><span class="progress-graph"></span></div>
              <!-- END / PROGRESS BAR SHORTCODE-->
            </div>

          </div>
          <div class="col-md-4">
            <img src="{% static 'media/profile.png' %}" alt="alternate text" class="aligncenter">
            <hr class="bndl-space">
            <!-- SEARCH WIDGET-->
            <div class="widget widget_search">
              <h4 class="widget-title">Search</h4>
              <form class="search-form">
                <input type="search" placeholder="Type something" class="search-field">
                <button type="submit" class="search-submit"></button>
              </form>
            </div>
            <!-- END / SEARCH  WIDGET-->
            <hr class="bndl-space">
            <!-- SOCIAL ICONS-->
            <div class="widget bndl-social-icons">
              <h4 class="bndl-title left">Add me</h4>
              <a href="https://github.com/kkampardi"><i class="ei-sc-github"></i></a>
              <a href="https://www.linkedin.com/in/katerina-kampardi-6a319582?trk=nav_responsive_tab_profile"><i class="ei-sc-linkedin"></i></a>
              <a href="https://twitter.com/kkampardi"><i class="ei-sc-twitter"></i></a>
              <a href="https://www.facebook.com/katerina.kabardi"><i class="ei-sc-facebook"></i></a>
           </div>
            <!-- END / SOCIAL ICONS-->
            <hr class="bndl-space">
            <div class="widget widget_top_posts">
              <h4 class="widget-title">Latest Projects</h4>
              <ul>
                <li><a href="#">
                    <div class="top-post-title">
                      <h5>15 Best Blogs To Follow About Life</h5>
                    </div><img src="{% static 'media/top-post.jpg' %}" alt="alternative text"></a></li>
                <li><a href="#">
                    <div class="top-post-title">
                      <h5>What Will Work Be Like In 100 Years?</h5>
                    </div><img src="{% static 'media/top-post.jpg' %}" alt="alternative text"></a></li>
              </ul>
            </div>
            <!-- END / TOP POSTS WIDGET-->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}
