{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-content">
  <div class="page-content">
    <h1 class="bndl-title large center">Contact</h1>
    <section>
      <div class="container">
        <div class="row vertical-align">
          <div class="col-md-3"><b class="contact-name">Katerina Kabardi</b></div>
          <div class="col-md-3">
            <p>e-mail:<br><b>kabardi.cat@gmail.com</b></p>
          </div>
          <div class="col-md-3">
            <p>skype:<br><b>kkampardi</b></p>
          </div>
          <div class="col-md-3">
            <!-- SOCIAL ICONS-->
            <div class="bndl-social-icons">
              <a href="https://github.com/kkampardi"><i class="ei-sc-github"></i></a>
              <a href="https://www.linkedin.com/in/katerina-kampardi-6a319582?trk=nav_responsive_tab_profile"><i class="ei-sc-linkedin"></i></a>
              <a href="https://twitter.com/kkampardi"><i class="ei-sc-twitter"></i></a>
              <a href="https://www.facebook.com/katerina.kabardi"><i class="ei-sc-facebook"></i></a>
            </div>
            <!-- END SOCIAL ICONS-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- CONTACT FORM-->
            <form>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="Name" name="name">
                </div>
                <div class="col-md-4">
                  <input type="email" placeholder="Email" name="email">
                </div>
                <div class="col-md-4">
                  <input type="text" placeholder="Subject" name="subject">
                </div>
              </div>
              <textarea placeholder="Your message" name="message"></textarea>
              <input type="submit" value="Send Message" class="bndl-btn medium">
            </form>
            <!-- END CONTACT FORM-->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
