{% load staticfiles %}
<div class="widget widget_instagram_feed_footer">
  <div class="bndl-center">
    <div class="instagram-link"><span>View my </span><a href="#" target="_blank" class="instagram-account">Latest Projects</a></div>
  </div>
  <ul class="instagram-images">
    <li>{% for project in latest_projects %}<a href="{% url 'portfolio_detail' pk=project.pk %}"><i class="ei-search btn medium"></i><img src="/media/{{project.image}}" alt="{{project.name}}"></a>{% endfor %}
    </li>
  </ul>
</div>
