<nav class="pagination">
  {% if page.has_previous %}
  <span class="page-numbers Previus">
    <a href="?page={{ page.previous_page_number }}" class="page-numbers previous">Previous</a>
  </span>
  {% endif %}
  {% for i in page.paginator.page_range %}
    {% ifequal i page.number %}
      <a href="{{current_url}}?page={{i}}" class="page-numbers current">{{ i }}</a>
    {% else %}
      <a href="{{current_url}}?page={{i}}" class="page-numbers">{{ i }}</a>
    {% endifequal %}
  {% endfor %}
  {% if page.has_next %}
  <a href="?page={{ page.next_page_number }}" class="page-numbers next">Next</a>
  {% endif %}
</nav>
