{% extends 'base.html' %}
{% block content %}
<div class="site-content grey-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 works">
        <!-- BLOG CATEGORIES-->
        <div class="page-breadcrumb">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="bndl-breadcrumb blog-categories">
                  <div class="breadcrumb-title"><span>My Blog</span></div>
                    <div class="bndl-categories filter">
                      <a data-filter="all" href="#" class="active custom-a">All</a>
                      {% for category in categories %}
                        {% if category.posts.all %}
                          <a data-filter="{{category.name}}" href="#">{{ category.name }}</a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  <div class="bndl-search"><i data-popup="popup-search" class="ei-search bndl-search"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END / BLOG CATEGORIES-->
        <div class="blog-loop masonry-col-3">
          <!-- BLOG HORIZONTAL LAYOUT-->
          <div class="loop horizontal-layout">
            {% for post in posts %}
              {% for layout in layouts %}
                {% ifequal post.layouts layout %}
                {% load mytags %}
                {% with "blog/"|addstr:post.layouts|addstr:".html" as template %}
                  {% include template %}
                {% endwith %}
                {% endifequal %}
              {% endfor %}
            {% endfor %}
            </div>
          <!-- END / BLOG HORIZONTAL LAYOUT-->
        </div>
        <!-- PAGINATION-->
        {% include "pagination.html" with page=posts %}
        <!-- END / PAGINATION-->
      </div>
      <div class="col-md-3">
        <!-- ABOUT ME WIDGET-->
        <div class="widget widget_about_me">
          <h4 class="widget-title">About Me</h4>
          <div class="widget-content"><img src="../../media/avatar.jpg" alt="alternative text" class="me-image"><b>John Doe</b>
            <h6><i>Also known as PyCat</i></h6>
            <p>I am a geek from Greece, passionate about Web Technologies and extremely excited to be asked to build your own Web Application</p>
          </div>
          <div class="widget tag_cloud widget_tag_cloud">
            <div class="tagcloud">
              <a href="http://kkabardi.me//about" >Read More</a>
              <a href="http://kkabardi.me/contact">Hire Me</a>
            </div>
          </div>
        </div>
        <!-- END / ABOUT ME WIDGET-->
        <!-- SOCIAL MEDIA WIDGET-->
        <div class="widget widget_social_icons">
          <h4 class="widget-title">Find Me</h4>
          <div class="bndl-social-icons">
            <a href="https://github.com/kkampardi"><i class="ei-sc-github"></i></a>
            <a href="https://www.linkedin.com/in/katerina-kampardi-6a319582?trk=nav_responsive_tab_profile"><i class="ei-sc-linkedin"></i></a>
            <a href="https://twitter.com/kkampardi"><i class="ei-sc-twitter"></i></a>
            <a href="https://www.facebook.com/katerina.kabardi"><i class="ei-sc-facebook"></i></a>
          </div>
          <p class="muted-text">Add me to your social network</p>
        </div>
        <!-- END / SOCIAL MEDIA WIDGET-->
        <!-- TOP POSTS WIDGET-->
        <div class="widget widget_top_posts">
          <h4 class="widget-title">My Latest Projects</h4>
          <ul>
            {% for project in latest_projects %}
            <li><a href="#">
                <div class="top-post-title">
                  <h5>{{ project.title}}</h5>
                </div><img src="/media/media/{{project.image}}" alt="{{ project.name }}"></a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="widget tag_cloud widget_tag_cloud">
          <div class="tagcloud">
            <a href="http://kkabardi.me/contact">View Full Portfolio</a>
          </div>
        </div>
        <!-- END / TOP POSTS WIDGET-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
