{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-content grey-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 works">
        <!-- BLOG CATEGORIES-->
        <div class="page-breadcrumb">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="myblog-categories">
                  <div class="widget-title"><span>Hey! I wrote something for you</span></div>
                    <div class="bndl-categories filter">
                      <a data-filter="all" href="#" class="active custom-a">All</a>
                      {% for category in categories %}
                        {% if category.posts.all %}
                          <a data-filter="{{category.name}}" href="#">{{ category.name }}</a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  <div class="bndl-search"><i data-popup="popup-search" class="ei-search bndl-search"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END / BLOG CATEGORIES-->
        <div class="blog-loop masonry-col-3">
          <!-- BLOG HORIZONTAL LAYOUT-->
          <div class="loop horizontal-layout">
            {% for post in posts %}
              {% for layout in layouts %}
                {% ifequal post.layouts layout %}
                {% load mytags %}
                {% with "blog/"|addstr:post.layouts|addstr:".html" as template %}
                  {% include template %}
                {% endwith %}
                {% endifequal %}
              {% endfor %}
            {% endfor %}
            </div>
          <!-- END / BLOG HORIZONTAL LAYOUT-->
        </div>
        <!-- PAGINATION-->
        {% include "pagination.html" with page=posts %}
        <!-- END / PAGINATION-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
