{% load staticfiles %}
<article class="post post-left gallery-tile item {{ post.category }}">
  <div class="post-content">
    <div class="post-body">
      <div class="post-category"><i class="ei-image"></i><a href="#">{{ post.category }}</a></div>
      <div class="post-title">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      </div>
      <div class="post-entry">
        <p>{{ post.content }}</p>
      </div>
      <div class="post-meta">
        <div class="post-comments"><i class="ei-comment"></i><a href="#">12</a></div>
        <div class="post-date">{{post.publish|date:"M d, Y"}}</div>
        <div class="post-date">By {{post.author}}</div>
      </div>
    </div>
    <div class="post-media">
      <div class="gallery-entry">
        <div class="gallery-fancybox">
          <dl style="background-image: url('/media/media/{{post.image}}')" class="gallery-item"></dl>
          <dl style="background-image: url('democontent/post-thumbnail-02.jpg')" class="gallery-item"></dl>
          <dl style="background-image: url('democontent/post-thumbnail-03.jpg')" class="gallery-item"></dl>
          <dl style="background-image: url('democontent/post-thumbnail-04.jpg')" class="gallery-item"></dl>
        </div>
      </div>
    </div>
  </div>
</article>
