{% extends 'base.html' %}
{% block content %}
			<!--Right content-->
<div class="col-md-9 right-content">
<!--Portfolio Tab-->
	<section id="blog" class="bgWhite ofsInBottom">
	<!--Portfolio -->
		<div class="blog">
		<!--Main title-->
		  <div class="main-title">
				<h1>Hi! I wrote something for you</h1>
					<div class="divider">
						<div class="zigzag large clearfix "  data-svg-drawing="yes" >
    					<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    					<path d="M1.357,12.26 10.807,2.81 20.328,12.332
    						29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    					</svg>
					    </div>
					  </div>
					</div>
				<!--End main title-->
				<!--Content-->
				<div class="content single">
  			<!--Block content-->
					<div class="block-content ">
						<!--Works-->
							<div class="blog">
					    <!--Row-->
						   <div class="row">
									<!--Blog posts-->
									<div class="block-posts clearfix">
										<!--Block post-->
										<div class="block-post single clearfix">
											<div class="col-md-12">
												<div class="post-media margBSmall">
													<img src="/media/{{post.image}}" alt=""/>
												</div>
												<div class="post-title">
			                      <h1>{{post.title}}</h1>
												    <span class="meta-date">{{post.publish|date:"M d, Y"}}</span>
			                  </div>
								        <ul class="post-meta">
			                    <li>
			                      <i class="icon-user"></i>
			                            <span>Post by <a href="#">{{post.author}}</a></span>
			                    </li>
			                    <li>
			                      <i class="icon-layout"></i><span> Tagged in <a href="#">
                                {{post.tag}}
                              </a></span>
			                    </li>
                          <li>
			                      <i class="icon-layout"></i><span> Category <a href="#">
                              {%for category in categories %}
                                {{category.name}}
                              {% endfor %}</a></span>
			                    </li>
												  <li>
														{% with comments.count as total_comments %}
				                    <i class="icon-comment"></i><span>
															{{ total_comments }} Comment {{total_comments|pluralize}} <a href="#"></a></span>
				                  </li>
													{% endwith %}
                        </ul>
											<hr>
	                    <p> {{post.body|safe}}</p>
								 </div>
							 </div>
							 <!--End block post-->
							 </div>
							 <!--End blog posts-->
							 </div>
							 <!--End row-->
							 </div>
							 <!--End blog-->
							 </div>
							 <!--End block content-->
							 </div>
							 <!--End content-->
						 <!--Main title-->
							 <div class="main-title">
								 <h1>Comments <span class="cm-count">(2)</span></h1>
									 <div class="divider">
											 <div class="zigzag large clearfix "  data-svg-drawing="yes" >
												 <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
												 <path d="M1.357,12.26 10.807,2.81 20.328,12.332
													 29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
												 </svg>
 										 	</div>
 									</div>
							 </div>
						 <!--End main title-->
 					 	<!--Content-->
						 <div class="content">
								 <!--Block content-->
								 <div class="block-content ">
									 <!--Comment-->
									 <div class="block-comment">
										 <!--Row-->
										 <div class="row">
											 <div class="col-md-12">
												 <!--Comments and replys-->
												 <ul class="comments clearfix">
													{% for comment in comments %}
													 <li>
															 <div class="comment">

															 <div class="author-img">
																 <img src="img/comment/1.jpg" alt="">
																	 <div class="reply-btn">
																	 <a class="link" href="#replyForm">
																	 Reply</a></div>

															 </div>
															 <div class="comment-content">
																 <div class="comments-info">
																	 <div class="author"><a href="#">{{comment.name}}</a></div>
																	 <div class="date"><a href="#">{{comment.created}}</a></div>
																 </div>
																	 <p class="expert">{{comment.body|linebreaks}}
																		</p>
																</div>
															</div>
														</li>
													{% empty %}
														<p>There are no comments yet</p>
													{% endfor %}
													<!-- replys
													 <li class="replys children">
														<div class="comment children">
															 <div class="author-img">
																 <img src="img/comment/2.jpg" alt="">

																	 <div class="reply-btn">
																	 <a class="link" href="#replyForm">
																	 Reply</a>
																 </div>
															 </div>
															 <div class="comment-content">
																 <div class="comments-info">
																	 <div class="author"><a href="#">Benaissa Ghrib</a></div>
																	 <div class="date"><a href="#">July 19, 2013 at 12 am</a></div>
																 </div>
																 <p class="expert">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
																 ac turpis egestas. Curabitur tempor vehicula porta.
																 Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum.
															 	</p>
															 </div>
													 	 </div>
													 </li>
												 -->
											 </ul>
								 		 	<!--End comments and replys-->
									 </div>
									</div>
									 <!--End row-->
								 </div>
								 <!--End comment-->
								 </div>
								 <!--End block content-->
							 </div>
							 <!--End content-->
							 {% if new_comment %}
							 <h1>Your Comment has beeing added</h1>
							 {% else %}
								 <!--Main title-->
									 <div class="main-title">
										 <h1>Leave a comment</h1>
											 <div class="divider">
													 <div class="zigzag large clearfix "  data-svg-drawing="yes" >
															 <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
															 <path d="M1.357,12.26 10.807,2.81 20.328,12.332
																 29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
															 </svg>
													 </div>
												</div>
									 </div>
								 <!--End main title-->
								 <!--Content-->
								 <div class="content">
									 <!--Block content-->
									 <div class="block-content margBMedium">
									 <!--Reply-->
									 	<div class="block-reply">
											 <!--Row -- >
											<!--div class="row">
												 <div class="col-md-12">
													  <form class="reply-form" action="." method="post">
														  <div class="input-columns clearfix">
															  <div class="column1">
															    <div class="column-inner">
																  	<input type="text" placeholder="Name" value="" id="name" name="name">
																  </div>
															  </div>
															  <div class="column2">
															    <div class="column-inner">
															  		<input type="text" placeholder="Email" value="" id="email" name="email">
																  </div>
															  </div>
														  </div>
														  <input type="text" placeholder="WebSite" value="" id="website" name="website">
															  <textarea name="message" placeholder="Message" id="message" cols="45" rows="10"></textarea>
															{% csrf_token %}
														  <input type="submit" value="Post a comment" class="but opc-2 submit">
													  </form>
												</div>

										 </div>
										 <!--End row-->

										 {% if new_comment %}
										 <h2>Your Comment has beeing added</h1>
										 {% else %}
										   <h2>Add new comment </h2>
										   <form action="." method="post">
										     {{ comment_form.as_p }}
										     {% csrf_token %}
										     <p><input type="submit" value="Add comment" ></p>
										   </form>
										   {% endif %}

									 </div>
									 <!--End reply-->
									 </div>
									 <!--End block content-->
									 </div>
									 <!--End content--f>
									 {% endif %}
								 <!--Button-->
									 <div class="button ofsInTop tCenter">
										 <div class="divider">
											 <div class="zigzag large clearfix "  data-svg-drawing="yes" >
												 <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
												 <path d="M1.357,12.26 10.807,2.81 20.328,12.332
													 29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
												 </svg>
												</div>
											 </div>
											 <!--Row-->
											 <div class="row ">
												 <div class="col-md-12">
													 <a class="but opc-1 icon-github" href="https://github.com/kkampardi">View my Github</a>
													 <a class="but opc-2 icon-phone" href="http://kkampardi.graphicode.gr:8001/contact/">Contact Me</a>
												 </div>
											 </div>
											 <!--End row-->
										 </div>
										 <!--End button-->
							 </div>
						 <!--End blog-->
				 </section>
				 <!--End blog tab-->
			 </div>
			 <!--End right content-->
		</div>
		<!--End  row-->
	</div>
	<!--End  container-->
</div>
<!--End wrapper-->


{% endblock %}
