{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <article class="post single">
          <div class="post-body">
            <div class="post-title">
              <h1 class="bndl-title left">{{ post.title }}</h1>
            </div>
            <div class="post-meta">
              <div class="post-likes"><i class="ei-heart"></i><a href="#">9</a></div>
              <div class="post-comments"><i class="ei-comment"></i><a href="#">23</a></div>
              <div class="post-date">{{ post.created }}</div>
            </div>
            <div class="post-category"><i class="ei-pencil"></i><a href="#">{{ post.category }}</a></div>
          </div>
          <div class="post-entry">
            <blockquote>
              <p>“{{ post.short_description }}”</p>
            </blockquote>
            <p>{{ post.body | safe }}</p>
          </div>
        </article>
        <!-- POST TAGS-->
        <div class="post-tags">
          {% for skill in skills %}
          {% if skill.posts.all %}
            <a href="#">{{ skill.name }}</a>
          {% endif %}
          {% endfor %}
        </div>
        <!-- END POST TAGS-->
        <!-- AUTHOR SIDEBAR-->
        <!-- sticky class-->
        <div class="about-author">
          <div class="post-author"><img src="{% static 'media/avatar.jpg' %}" alt="alternative text">
            <div class="author-info">
              <div class="name">{{ post.author }}</div><a href="#">Read My Other Posts</a>
            </div>
          </div>
          <div class="share-post"><span class="title">Share Post:</span>
            <!-- SOCIAL ICONS-->
            <div class="bndl-social-icons">
              <a href="#"><i class="ei-sc-facebook"></i></a>
              <a href="#"><i class="ei-sc-twitter"></i></a>
              <a href="#"><i class="ei-sc-google-plus"></i></a>
              <a href="#"><i class="ei-sc-youtube"></i></a>
            </div>
            <!-- END SOCIAL ICONS-->
          </div>
        </div>
        <!-- END AUTHOR SIDEBAR-->
        <!-- RELATED POST-->
        <div class="related-post">
          <!-- HANDPICKED POST-->
          <div class="bndl-handpicked-post"><a href="#">
              <div class="top-post-title"><span class="prev link-mark">Previous Article</span>
                <h5>The Worst Advice We've Ever Heard About Write</h5>
              </div><img src="{% static 'media/top-post.jpg' %}" alt="alternative text"></a></div>
          <!-- END HANDPICKED POST-->
          <!-- HANDPICKED POST-->
          <div class="bndl-handpicked-post"><a href="#">
              <div class="top-post-title"><span class="next link-mark">Next Article</span>
                <h5>The Ultimate Cheat Sheet On Software Must See</h5>
              </div><img src="{% static 'media/top-post.jpg' %}" alt="alternative text"></a></div>
          <!-- END HANDPICKED POST-->
        </div>
        <!-- END RELATED POST-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
