{% extends 'base.html' %}
{% load staticfiles %}
{% load social_share %}
{% block content %}

<div class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <article class="post single">
          <div class="post-body">
            <div class="post-title">
              <h1 class="bndl-title left">{{ post.title }}</h1>
            </div>
            <div class="post-meta">
              <div class="post-likes"><i class="ei-heart"></i><a href="#">9</a></div>
              <div class="post-comments"><i class="ei-comment"></i><a href="#">23</a></div>
              <div class="post-date">{{ post.created }}</div>
            </div>
            <div class="post-category"><i class="ei-pencil"></i><a href="#">{{ post.category }}</a></div>
          </div>
          <div class="post-entry">
            <blockquote>
              <p>“{{ post.short_description }}”</p>
            </blockquote>
            <img class="img-responsive" src="/media/{{post.image}}"/>
            <p>{{ post.body | safe }}</p>
          </div>
        </article>
        <!-- POST TAGS-->
        <div class="post-tags">
          {% for skill in skills %}
          {% if skill.posts.all %}
            <a href="#">{{ skill.name }}</a>
          {% endif %}
          {% endfor %}
        </div>
        <!-- END POST TAGS-->
        <!-- AUTHOR SIDEBAR-->
        <!-- sticky class-->
        <div class="about-author">
          <div class="post-author"><img src="{% static 'media/avatar.jpg' %}" alt="alternative text">
            <div class="author-info">
              <div class="name">{{ post.author }}</div><a href="#">Read My Other Posts</a>
            </div>
          </div>
          <div class="share-post"><span class="title">Share Post:</span>
            <!-- SOCIAL ICONS-->
            <div class="fb-share-button" data-href="http://kkabardi.me/post/&#123;&#123;post.slug&#125;&#125;/" data-layout="button" data-size="small" data-mobile-iframe="true">
              <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkkabardi.me%2Fpost%2F%257B%257Bpost.slug%257D%257D%2F&amp;src=sdkpreparse">Share</a>
          </div>
            <div class="bndl-social-icons">
              <a href="#">

                <i class="ei-sc-facebook"></i>
              </a>
              <a href="#"><i class="ei-sc-twitter"></i></a>
              <a href="#"><i class="ei-sc-google-plus"></i></a>
            </div>
            <!-- END SOCIAL ICONS-->
          </div>
        </div>
        <!-- END AUTHOR SIDEBAR-->
        <!-- RELATED POST-->
        <div class="related-post">
          <!-- HANDPICKED POST-->
          <div class="bndl-handpicked-post"><a href="#">
              <div class="top-post-title"><span class="prev link-mark">Previous Article</span>
                <h5>The Worst Advice We've Ever Heard About Write</h5>
              </div><img src="{% static 'media/top-post.jpg' %}" alt="alternative text"></a></div>
          <!-- END HANDPICKED POST-->
          <!-- HANDPICKED POST-->
          <div class="bndl-handpicked-post"><a href="#">
              <div class="top-post-title"><span class="next link-mark">Next Article</span>
                <h5>The Ultimate Cheat Sheet On Software Must See</h5>
              </div><img src="{% static 'media/top-post.jpg' %}" alt="alternative text"></a></div>
          <!-- END HANDPICKED POST-->
        </div>
        <!-- END RELATED POST-->

        <!-- Discus -->
        <div id="disqus_thread"></div>

        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function () {
                this.page.url = "http://kkabardi.me";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "kkabardi-me"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//kkabardi-me.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <!-- extra desqus code for recent comments >
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Recent Comments</h4>
          </div><br/>
          <div id="RecentComments" class="dsq-widget panel-body">
          <script type="text/javascript" src="http://djangozone.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=100"></script>
          </div>
        </div>
        < end extra desqus code for recent comments -->
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=121841908290521";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
