<div class="contact" id="touch">
  <div class="container">
    <h4>Get in <span class="m_1">touch</span></h4>
    <p>Typi non habent claritatem insitam; est usus<span class="m_1"> legentis in iis qui facit eorum</span></p>
     <div class="contact_top">
    <div class="col-md-6 contact_left">
      <form method="post" action="contact-post.html">
        <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
        <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
        <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
           </form>
    </div>
    <div class="col-md-6 contact_right">
      <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
      </div>
      <div class="clearfix"> </div>
     </div>
      <div class="contact_but">
        <label class="btn1 btn4 btn-1 btn-1b"><input type="submit" value="Submit"></label>
      </div>
      <div class="social">
      <ul>
        <li><a href=""> <i class="fb"> </i> </a></li>
        <li><a href=""> <i class="tw"> </i> </a></li>
        <li><a href=""> <i class="db"> </i> </a></li>
      </ul>
      </div>
      <p class="copy">&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
  </div>
  <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
